.grid {
    --min: 30ch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, var(--min)));
  }
  
  body {
    --padding: 5vw;
    --max-width: 180ch;
    
  }

  .card {
    min-width: var(--min);
    padding: 1rem;
    border: 1px solid #ccc;
}