
.nav {
    background-color: #3498db;
    color: #fff;
    text-align: center;
}

.registration-section {
    width: 80%; /* або будь-яка інша відповідна ширина */
    margin: 0 auto; /* Центрує по горизонталі */
    display: flex;
    justify-content: center; /* Центрує по горизонталі */
    align-items: center; /* Центрує по вертикалі */
    height: 100vh; /* Встановлює висоту секції на весь екран */
    flex-direction: column; /* Дозволяє вирівнювати елементи по центру колонки */
    border: 1px solid #3498db;
}




.registration-section label {
    display: block;
    margin-top: 10px; 
    font-weight: bold;
}

.registration-section input[type="text"],
.registration-section input[type="email"],
.registration-section input[type="number"],
.registration-section select,
.registration-section textarea,
.registration-section input[type="tel"],
.registration-section input[type="submit"] {
    width: calc(100% - 20px); 
    max-width: 600px; 
    padding: 10px;
    border: 1px solid #3498db;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

.registration-section input[type="text"]:focus,
.registration-section input[type="email"]:focus,
.registration-section input[type="number"]:focus,
.registration-section select:focus,
.registration-section textarea:focus,
.registration-section input[type="tel"]:focus {
    outline: none;
    border-color: #3498db;
}

.registration-section input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.registration-section input[type="submit"]:hover {
    background-color: #1a5276;
}